/* Applying 0 margin and padding everywhere */
body{
    margin: 0;
    padding:0;
    font-family: monospace;
}
/* Styling the Header and NavBar */
header{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(162, 167, 153); */
    /* background-image: url(../images/hero3.jpg);
    background-position: center;
    background-size: cover; */
    /* position: sticky; */
    /* top: 0; */
}
header h1 a{
    color: #a9af93;
    text-decoration: none;
    font-size: larger;
}
header h1 a:hover{
    color: white;
}
nav ul li{
    list-style: none;
    display: inline;
}
nav ul li a{
    text-decoration: none;
    padding:0 25px 0 0; 
    font-size: 30px;
    color: #002d10;
}
nav ul li a:hover{
    color: white;
}

/* Hero */
.hero{
    background-image: url(../images/hero3.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    
}
.coolquote{
    position: absolute;
    right:800px;
    top: 150px;
    color: #002d10;
    font-size: 20px;
    padding: 25px;
    text-align: center;
}
/* Styling the about me section */
.aboutme{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    padding: 50px 0 0 0;
}
.title{
    margin:0;
    width: 20%;
    font-size: 25px;
    padding-right: 20px;
    border-right: 3px solid #002d10;
    text-align: right;
}
.content{
    font-size: 20px;
    padding:0 20px 0 20px;
}
.profilepic img{
    width: 200px;
    height: 200px;
    /* border:3px solid #002d10; */
    box-shadow: 5px 5px #707b33;
    border-radius: 15%;
    flex-wrap: wrap;
    opacity:0.6;
    color: #002d1018;
}
.profilepic img:hover{
    opacity: 1;
}
/* Styling Work Section*/
.work{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
    padding: 50px 0 0 0;
    /* background-color: #ebfabe; */
}
.title2{
    margin:0;
    width:7.5%;
    font-size: 25px;
    padding-right: 20px;
    border-right: 3px solid #002d10;
    text-align: right;
}

.work-content{
    width:90%;
}
.project, .col{
    margin: 0;
    padding: 0;
}


/*Styling Projects */
.firstproject img{
    width: 75%;
    margin-left: 0;
    opacity: 0.6;
    padding-left: 30px;
}
.firstproject img:hover{
    opacity: 1;
}
.project img{
    width:500px;
    height: 320px;
    opacity: 0.6;
    padding-left: 0px;
    
}
.project img:hover{
    opacity:1;
}
.firsttile{
    width: 10%;
    background-color: #a7b776;
    border:3px solid #002d10;
    padding-left: 0px;
    position: relative;
    top: -100px;
    left: 30px;
}
.firsttile h4{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.myrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}
.mycol{
    padding: 0 30px 0 30px;
}
.tile{
    width: 30%;
    background-color: #a7b776;
    border:3px solid #002d10;
    padding-left: 0px;
    position: relative;
    top: -100px;
    left: 0px;
}
.tile h4{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* Styling the Contacts section */
.details{
    display: flex;
    /* flex-direction: row; */
    justify-content:space-between;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.contactdetails{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}
.contactdetails ul li{
   display: inline;
   font-size: 25px;
   padding-left: 50px;
}
.contactdetails ul li a{
    font-size: 25px;
    padding:0px;
    color: #333;
}
.contactdetails ul li a:hover{
    color: blue;
}


footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    background-color: rgb(167, 163, 163);
    color: honeydew;
}

/* Adding Media Queries */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }

    .profilepic{
        flex: 1 100%;
    }
    .title2{
        justify-content: center;
        border: 0;
        text-align: center;
    }
    .aboutme{
        justify-content: center;
    }
    .content{
        width: 100%;
        justify-content: center;
    }
    .profilepic{
        width: 100%;
        justify-content: center;
    }
    .firstproject{
        width: 100%;
        justify-content: center;
    }
    .project{
        width: 100%;
        justify-content: center;
    }
  
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    .hero{
        justify-content: center;
    }
    .coolquote{
        width: 100%;
        justify-content: center;
    }
  }