/* Applying 0 margin and padding everywhere */
body{
    margin: 0;
    padding:0;
    font-family: monospace;
}
.container{
    background-color: #82c7ff48;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* Styling the Header and NavBar */
header{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(162, 167, 153); */
    /* background-image: url(../images/hero3.jpg);
    background-position: center;
    background-size: cover; */
    /* position: sticky; */
    /* top: 0; */
}
header h1 a{
    color: #050706;
    text-decoration: none;
    font-size: larger;
}
header h1 a:hover{
    color: blue;
}
nav ul li{
    list-style: none;
    display: inline;
}
nav ul li a{
    text-decoration: none;
    padding:0 25px 0 0; 
    font-size: 30px;
    color: #050706;
}
nav ul li a:hover{
    color: blue;
  
    
}

/* Hero */
.hero{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/wallpaper2you_285177.jpg);

    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    
}
.coolquote{
    position: absolute;
    right:800px;
    top: 150px;
    /* color: #002d10; */
    color: rgba(255, 250, 240, 0.644);
    font-size: 20px;
    padding: 25px;
    text-align: center;
}
/* Styling the about me section */
.aboutme{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    padding: 50px 0 0 0;
}
.title{
    margin:0;
    width: 20%;
    font-size: 25px;
    padding-right: 20px;
    border-right: 3px solid #002d10;
    text-align: right;
}
.content{
    font-size: 20px;
    padding:0 20px 0 20px;
}
.profilepic img{
    width: 200px;
    height: 200px;
    /* border:3px solid #002d10; */
    background-image: linear-gradient();
    box-shadow: 3px 3px rgba(0, 0, 0, 0.534);
    border-radius: 15%;
    flex-wrap: wrap;
    opacity:0.6;
    color: #002d1018;
}
.profilepic img:hover{
    opacity: 1;
}
/* Styling Work Section*/
.work{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
    padding: 50px 0 0 0;
    /* background-color: #ebfabe; */
}
.title2{
    margin:0;
    width:7.5%;
    font-size: 25px;
    padding-right: 20px;
    border-right: 3px solid #002d10;
    text-align: right;
}

.work-content{
    width:90%;
}
.mycol{
    margin: 0;
    padding: 0;
}
.project{
    margin-left: 30px;
} 

/*Styling Projects */
.firstproject img{
    width: 100%;
    margin-left: 0;
    opacity: 0.6;
    padding-left: auto;
}
.firstproject img:hover{
    opacity: 1;
}
.project img{
    width:500px;
    height: 320px;
    opacity: 0.6;
    padding-left: 0px;
    
}
.project img:hover{
    opacity:1;
}
.firsttile{
    width: 40%;
    background-color: #a7b776;
    border:3px solid #002d10;
    padding-left: 0px;
    position: relative;
    top: -100px;
    left: auto;
}
.firsttile h4{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.item-title{
    font-weight: 13px;
}
.myrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:stretch;
    flex-wrap: wrap;
    flex-grow: 1;
}
.mycol{
    padding: 0 30px 0 30px;
}
.tile{
    width: fit-content;
    background-color: #a7b776;
    border:3px solid #002d10;
    padding-left: 0px;
    position: relative;
    top: -100px;
    left: 0px;
}
.tile h4{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* Styling the Contacts section */
.details{
    display: flex;
    /* flex-direction: row; */
    justify-content:space-between;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.contactdetails{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}
.contactdetails ul li{
   display: inline;
   font-size: 25px;
   padding-left: 50px;
}
.contactdetails ul li a{
    font-size: 25px;
    padding:0px;
    color: #333;
}
.contactdetails ul li a:hover{
    color: blue;
}


footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.contacts{
    width: 10%;
    
}
.more-projects{
    width: 100%;
    border: 1px solid black;
   
}
.more-projects a{
    font-style: italic;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.more-projects a:hover{
    color: blue;
    background-color: rgb(0, 255, 255);
}

/* Adding Media Queries */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }

    .profilepic{
        flex: 1 100%;
    }
    .title2{
        justify-content: center;
        border: 0;
        text-align: center;
    }
    .aboutme{
        justify-content: center;
    }
    .content{
        width: 100%;
        justify-content: center;
    }
    .profilepic{
        width: 100%;
        justify-content: center;
    }
    .firstproject{
        width: 100%;
        justify-content: center;
    }
    .project{
        width: 100%;
        justify-content: center;
    }
  
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    .hero{
        justify-content: center;
    }
    .coolquote{
        width: 100%;
        justify-content: center;
    }
  }